{% comment %}
  Renders a grid of product cards based on a product list metafield.
  Usage: {% render '_bundle-products' %}
{% endcomment %}

{%- assign bundle_list = product.metafields.custom.bundle_products.value -%}

{%- if bundle_list != blank -%}
  <div class="bundle-products-wrapper page-width" style="margin-top: 2rem; margin-bottom: 2rem;">
    <h2 class="inline-richtext {{ block.settings.heading_size }}">What's Included in this Bundle</h2>
    
    <ul class="product-card-list grid grid--2-col-tablet-down grid--4-col-desktop" role="list">
      {%- for bundle_product in bundle_list -%}
       <li
            id="{{ section.id }}-{{ bundle_product.id }}"
            class="product-grid__item product-grid__item--{{ forloop.index0 }}"
            data-product-id="{{ bundle_product.id }}"
            ref="cards[]"
          >
            {% content_for 'block', type: '_product-card', id: 'product-card', closest.product:bundle_product %}
          </li>
      {%- endfor -%}
    </ul>
  </div>
{%- endif -%}

<style>
  .bundle-products-wrapper .card__content {
    padding-top: 1rem;
  }
  .bundle-products-wrapper .card__heading {
    margin-bottom: 0.5rem;
  }
  .product-card-list{
    display:flex;
    flex-direction:row;
}
</style>
{% schema %}
{
  "name": "t:names.product_media",
  "tag": null,
}
{% endschema %}